html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.img {
  width: 200px;
}